<div class="top-row">
  <h1>Rails FeedReader</h1>
  <%= link_to('Refresh Feeds', refresh_feeds_url, class: 'right btn btn-default') %>
</div>

<ul class="nav nav-pills nav-justified center" id="category-filter">
  <li role="presentation">
    <%= link_to("All", root_url, remote: true) %>
  </li>
  <% @categories.each do |category| %>
    <li role="presentation">
      <%= link_to(category.name, root_url(category: category.id), remote: true) %>
    </li>
  <% end %>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Feed</th>
      <th>Published</th>
    </tr>
  </thead>

  <tbody id="entries-body">
    <%= render 'rows' %>
  </tbody>
</table>
